@use "../../../../Style/variable" as v;

h5{
  color:v.$lightgrey;
}

.iframeCv{
  width: 100%;
  height: 600px;
}

@media screen and (max-width: 573px) {
  .iframeCv{
    width: 100%;
    height: 300px;
  }

}